<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-list.css">
    <title>Listagem de Usuários</title>
</head>
<body>
<div class="container">
    <h1>Listagem de Usuários</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Status</th>
        </tr>
        <tr th:each="item : ${list}">
            <td><a th:href="@{/colaborador/validar/{id}(id=${item.id})}">[[${item.name}]]</a></td>
            <td th:text="${item.status == true ? 'Validado' : 'Não validado'}"
                th:classappend="${item.status == true ? 'status-valid' : 'status-invalid'}"></td>
        </tr>

    </table>
    <h4><a th:href="@{/colaborador/registrar}">Registrar novo</a></h4>
</div>
</body>
</html>
